<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
	    	http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/aop       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-autowire="byName">

    <!-- Statistics config -->
    <bean id="statisticsConfigs" class="it.geosolutions.opensdi.mvc.model.statistics.StatisticsConfigList"></bean>
      
    <!--  Bean inizializer -->
     <bean id="initializer" class="it.geosolutions.opensdi.init.Initializer" lazy-init="false"> 
        <property name="statisticsConfigFileName" value="classpath:StatisticsConfig.xml"></property>
        <property name="statisticsConfigs" ref="statisticsConfigs"></property>        
     </bean>
    
</beans>