<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-2.5.xsd
      http://www.springframework.org/schema/aop       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-autowire="byName">
    <context:annotation-config />

    <import resource="applicationContext-datasource.xml"/>

    <!--  DAO  -->
    <bean id="develTraceDao" class="it.geosolutions.opensdi.destination.dao.impl.TraceDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
      <!-- <property name="maxDiferenceInMilliseconds" value="5000000000" /> -->
      <!-- <property name="maxDiferenceInMilliseconds" value="5000000000000000000" /> -->
    </bean>
    <bean id="develTraceLineDao" class="it.geosolutions.opensdi.destination.dao.impl.TraceLineDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="prodTraceDao" class="it.geosolutions.opensdi.destination.dao.impl.TraceDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory2"/>
      <!-- <property name="maxDiferenceInMilliseconds" value="5000000000" /> -->
      <!-- <property name="maxDiferenceInMilliseconds" value="5000000000000000000" /> -->
    </bean>
    <bean id="prodTraceLineDao" class="it.geosolutions.opensdi.destination.dao.impl.TraceLineDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory2"/>
    </bean>

    <!-- Service -->
    <bean id="traceService" class="it.geosolutions.opensdi.destination.service.impl.TraceServiceImpl" />

    <!--  GeoBatchRunInfoPostProcessor  -->
    <bean id="destinationGeoBatchRunInfoPostProcessor" class="it.geosolutions.opensdi.destination.config.DestinationGeoBatchRunInfoPostProcessor" />
    
</beans>