<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
	    	http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/aop       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-autowire="byName">
  
    <bean id="targetRunnerOp" class="it.geosolutions.opensdi.operations.Zip2pgOperation">
        <property name="path" value="targetRunnerOp"/>
    </bean>
  
    <bean id="roadRunnerOp" class="it.geosolutions.opensdi.operations.Zip2pgOperation">
        <property name="path" value="roadRunnerOp"/>
    </bean>
    
    <bean id="roadSegmentationOp" class="it.geosolutions.opensdi.operations.Zip2pgOperation">
        <property name="path" value="roadSegmentationOp"/>
    </bean>
  
    <bean id="migrationRunnerOp" class="it.geosolutions.opensdi.operations.RunOperation">
        <property name="path" value="migrationRunnerOp"/>
        <property name="extensions">
        	<list>
        		<value>zip</value>
        	</list>
        </property>
    </bean>
  
    <bean id="gateRunnerOp" class="it.geosolutions.opensdi.operations.FileOperation">
        <property name="name" value="XMLOperation"/>
        <property name="path" value="gateRunnerOp"/>
        <property name="extensions">
        	<list>
        		<value>xml</value>
        	</list>
        </property>
    </bean>
  
    <bean id="pterRunnerOp" class="it.geosolutions.opensdi.operations.Zip2pgOperation">
        <property name="path" value="pterRunnerOp"/>
    </bean>
  
    <bean id="statisticsRunnerOp" class="it.geosolutions.opensdi.operations.RunOperation">
        <property name="path" value="statisticsRunnerOp"/>
        <property name="extensions">
        	<list>
        		<value>xml</value>
        	</list>
        </property>
    </bean>
    
    <bean id="gateImportOp" class="it.geosolutions.opensdi.operations.RunOperation">
        <property name="path" value="gateImportOp"/>
        <property name="extensions">
        	<list>
        		<value>xml</value>
        	</list>
        </property>
    </bean>

	<bean id="fileBrowserGate" class="it.geosolutions.opensdi.operations.FileBrowserOperationController">
	   <property name="fileRegex" value="^([0-9]{2})[_-]([0-9]{8})[_-]([0-9]{6}).xml$" />
	   <property name="RESTPath" value="fileBrowserGate"/>
	   <property name="operationName" value="XMLBrowser"/>
	   <property name="canNavigate" value="true"/>
	   <property name="canUpload" value="true"/>
	   <property name="canDelete" value="true"/>
	   <property name="defaultBaseDir" value="/home/geosolutions/admin/test_xml/"/>
	   <property name="accept" value="application/xml"/>
	   <property name="allowedOperations">
	    <list>
	     <value>gateRunnerOp</value>
	     <!-- Uncomment if you want to execute Statistics action from the gate ingestion view -->
	     <!-- <value>statisticsRunnerOp</value> -->
	    </list>
	   </property>
	</bean>

	<bean id="fileBrowserTarget" class="it.geosolutions.opensdi.operations.FileBrowserOperationController">
	   <property name="fileRegex" value="^([A-Z]{2})[_-]([A-Z]{2,3})[_-]([A-Z]+)([_-][C|I])?[_-]([0-9]{8})[_-]([0-9]{2}).zip$" />
	   <property name="RESTPath" value="fileBrowserTarget"/>
	   <property name="operationName" value="SHPBrowser"/>
	   <property name="canNavigate" value="true"/>
	   <property name="canUpload" value="true"/>
	   <property name="canDelete" value="true"/>
	   <property name="defaultBaseDir" value="/home/geosolutions/admin/test_shp/"/>
	   <property name="accept" value="application/zip"/>
	   <property name="allowedOperations">
	    <list>
	     <value>targetRunnerOp</value>
	     <value>migrationRunnerOp</value>
	    </list>
	   </property>
	</bean>

	<bean id="fileBrowserRoad" class="it.geosolutions.opensdi.operations.FileBrowserOperationController">
	   <property name="fileRegex" value="^([A-Z]{2})_([A-Z]{1})_([A-Za-z]+)_([0-9]{8}).zip$" />
	   <property name="RESTPath" value="fileBrowserRoad"/>
	   <property name="operationName" value="SHPBrowser2"/>
	   <property name="canNavigate" value="true"/>
	   <property name="canUpload" value="true"/>
	   <property name="canDelete" value="true"/>
	   <property name="defaultBaseDir" value="/home/geosolutions/admin/test_shp/"/>
	   <property name="accept" value="application/zip"/>
	   <property name="allowedOperations">
	    <list>
	     <value>roadRunnerOp</value>
	     <value>migrationRunnerOp</value>
	    </list>
	   </property>
	</bean>
    
    <bean id="fileBrowserPter" class="it.geosolutions.opensdi.operations.FileBrowserOperationController">
	   <property name="fileRegex" value="^([A-Z]{2})_PTER_([0-9]{8}).zip$" />
	   <property name="RESTPath" value="fileBrowserPter"/>
	   <property name="operationName" value="SHPBrowser3"/>
	   <property name="canNavigate" value="true"/>
	   <property name="canUpload" value="true"/>
	   <property name="canDelete" value="true"/>
	   <property name="defaultBaseDir" value="/home/geosolutions/admin/test_shp/"/>
	   <property name="accept" value="application/zip"/>
	   <property name="allowedOperations">
	    <list>
	     <value>pterRunnerOp</value>
	    </list>
	   </property>
	</bean>
    
    <bean id="fileBrowserRoadSegmentation" class="it.geosolutions.opensdi.operations.FileBrowserOperationController">
	   <property name="fileRegex" value="^([A-Z]{2})_([A-Z]{1})_([A-Za-z]+)_([0-9]{8})_ORIG.zip$" />
	   <property name="RESTPath" value="fileBrowserRoadSegmentation"/>
	   <property name="operationName" value="SHPBrowser4"/>
	   <property name="canNavigate" value="true"/>
	   <property name="canUpload" value="true"/>
	   <property name="canDelete" value="true"/>
	   <property name="defaultBaseDir" value="/home/geosolutions/admin/test_shp/"/>
	   <property name="accept" value="application/zip"/>
	   <property name="allowedOperations">
	    <list>
	     <value>roadSegmentationOp</value>
         <value>migrationRunnerOp</value>
	    </list>
	   </property>
	</bean>
    
</beans>