<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
	    	http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/aop       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-autowire="byName">
  
    <bean id="targetRunnerOp" class="it.geosolutions.opensdi.operations.Zip2pgOperation">
        <property name="path" value="targetRunnerOp"/>
    </bean>
  
    <bean id="roadRunnerOp" class="it.geosolutions.opensdi.operations.Zip2pgOperation">
        <property name="path" value="roadRunnerOp"/>
    </bean>

	<bean id="fileBrowserTarget" class="it.geosolutions.opensdi.operations.FileBrowserOperationController">
	   <property name="fileRegex" value="^([A-Z]{2})[_-]([A-Z]{2,3})[_-]([A-Z]+)([_-][C|I])?[_-]([0-9]{8})[_-]([0-9]{2}).zip$" />
	   <property name="RESTPath" value="fileBrowserTarget"/>
	   <property name="operationName" value="SHPBrowser"/>
	   <property name="canNavigate" value="true"/>
	   <property name="canUpload" value="true"/>
	   <property name="canDelete" value="true"/>
	   <property name="defaultBaseDir" value="/home/geosolutions/admin/test_shp/"/>
	   <property name="accept" value="application/zip"/>
	   <property name="allowedOperations">
	    <list>
	     <value>targetRunnerOp</value>
	    </list>
	   </property>
	</bean>

	<bean id="fileBrowserRoad" class="it.geosolutions.opensdi.operations.FileBrowserOperationController">
	   <property name="fileRegex" value="^([A-Z]{2})_([A-Z]{1})_([A-Za-z]+)_([0-9]{8}).zip$" />
	   <property name="RESTPath" value="fileBrowserRoad"/>
	   <property name="operationName" value="SHPBrowser2"/>
	   <property name="canNavigate" value="true"/>
	   <property name="canUpload" value="true"/>
	   <property name="canDelete" value="true"/>
	   <property name="defaultBaseDir" value="/home/geosolutions/admin/test_shp/"/>
	   <property name="accept" value="application/zip"/>
	   <property name="allowedOperations">
	    <list>
	     <value>roadRunnerOp</value>
	    </list>
	   </property>
	</bean>
    
</beans>