<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="nrlDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:mem:nrl" />
        <property name="username" value="h2" />
        <property name="password" value="h2" />
    </bean>

<!--	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql:NRL//localhost" />
		<property name="username" value="postgres" />
		<property name="password" value="postgre" />
	</bean>-->
	
	<bean id="nrlVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="showSql" value="false" />
		<property name="generateDdl" value="true" />
		<!--<property name="databasePlatform" value="org.hibernate.dialect.PostgreSQLDialect" />-->
		<property name="databasePlatform" value="org.hibernate.dialect.H2Dialect" />
	</bean>
	
	<bean id="nrlEntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="nrlDataSource" />
    	<property name="persistenceXmlLocation" value="classpath:./META-INF/persistence.xml" />
		<property name="jpaVendorAdapter" ref="nrlVendorAdapter" />

        <property name="jpaPropertyMap">
            <map>
                <!--<entry key="hibernate.cache.provider_class" value="org.hibernate.cache.EhCacheProvider"/>-->
                <!--<entry key="hibernate.cache.provider_configuration_file_resource_path" value="classpath:geostore-ehcache.xml"/>-->
                <entry key="hibernate.cache.use_second_level_cache" value="false"/>
                <!--<entry key="hibernate.connection.autocommit" value="true"/>-->
                <!--<entry key="hibernate.generate_statistics" value="false"/>-->
                <!--<entry key="hibernate.default_schema" value="public" />-->
            </map>
        </property>
	</bean>

	<bean id="nrlTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="nrlEntityManagerFactory" />
	</bean>

    <bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>