<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
	    	http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/aop       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-autowire="byName">

    <!-- Statistics config -->
    <bean id="statisticsConfigs" class="it.geosolutions.opensdi.mvc.model.statistics.StatisticsConfigList"></bean>
      
    <!--  Bean inizializer -->
     <bean id="initializer" class="it.geosolutions.opensdi.init.Initializer" lazy-init="false"> 
        <property name="statisticsConfigFileName" value="classpath:StatisticsConfig.xml"></property>
        <property name="statisticsConfigs" ref="statisticsConfigs"></property>        
     </bean>

    <bean id="fileBrowserOp" class="it.geosolutions.opensdi.operations.FileBrowserOperationController">
       <property name="fileRegex" value=".*\.tif" />
       <property name="RESTPath" value="fileBrowserOp"/>
       <property name="operationName" value="NDVIBrowser"/>
       <property name="canNavigate" value="true"/>
       <property name="canUpload" value="true"/>
       <property name="canDelete" value="true"/>
       <property name="defaultBaseDir" value="/home/geosolutions/admin/test_geotiff/"/>
       <property name="accept" value="image/tif,image/tiff"/>
       <property name="allowedOperations">
        <list>
         <value>NDVI</value>
        </list>
       </property>
    </bean>

    <bean id="NDVI" class="it.geosolutions.opensdi.operations.NDVIOperation">
          <property name="path" value="NDVI"/>
          <property name="jspName" value="ndvi"/>
          <property name="flowID" value="ndviingestion"/>
    </bean>

    <bean id="CSV" class="it.geosolutions.opensdi.operations.CSVOperation">
          <property name="path" value="CSV"/>
          <property name="jspName" value="csv"/>
          <property name="flowID" value="csvingestion"/>
    </bean>

    <bean id="NDVIStatistics" class="it.geosolutions.opensdi.operations.NDVIStatisticsOperation">
          <property name="path" value="NDVIStats"/>
    </bean>

     <bean id="fileBrowserOpCSV" class="it.geosolutions.opensdi.operations.FileBrowserOperationController">
      <property name="RESTPath" value="fileBrowserOpCSV"/>
      <property name="fileRegex" value=".*\.csv" />
      <property name="operationName" value="CSVBrowser"/>
      <property name="canNavigate" value="true"/>
      <property name="canUpload" value="true"/>
      <property name="canDelete" value="true"/>
      <property name="defaultBaseDir" value="/home/geosolutions/admin/test_csv/"/>
      <property name="accept" value="text/csv"/>
      <property name="allowedOperations">
      <list>
       <value>CSV</value>
      </list>
      </property>
     </bean>

    <bean id="fileBrowserOpCropMask" class="it.geosolutions.opensdi.operations.FileBrowserOperationController">
          <property name="RESTPath" value="fileBrowserOpCropMask"/>
          <property name="operationName" value="CropMask"/>
          <property name="canNavigate" value="true"/>
          <property name="canUpload" value="true"/>
          <property name="canDelete" value="true"/>
          <property name="defaultBaseDir" value="/home/geosolutions/admin/crop_masks/"/>
    </bean>
    
</beans>