<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
        
    
<bean id="logger" class="org.springframework.beans.factory.config.CommonsLogFactoryBean">
  
<property name="logName" value="log"/></bean>
<bean class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
    <property name="ignoreResourceNotFound" value="true"/>
    <property name="order" value="5"/>
    <property name="locations">
        <list>
            <!-- used for overriding props during maven tests -->
            <value>classpath*:gb-nrl-config.properties</value>
            <!-- used for externalized override -->
            <value>${gb-nrl-ovr}</value>
        </list>
    </property>
</bean>    

</beans>