@import url(jquery-mapstore-footer.css);
@import url(extensions.css);

div.login-form-controls{
	
	width:500px;
}

.login-container{
	
	width:700px;
}

.width700{
	width:700px;
}
.modal form {
	margin:0px;
}
body{
	background-color:#FAFAFA;
}

/* Help */ 
#helpOpener{
	background-image: url(../img/help.png);
	background-color: #f8f8f8;
	border: none;
	background-position: 0 0;
	height: 20px;
	width: 60px;
	padding-left: 20px;
	margin-top: 8px;
	color: #777777;
}
#helpOpener:hover{
	cursor: pointer;
	color: #181818;
}

/** singlefileoperation.jsp **/
.help-block{
	padding-top: 50px;
	text-align: right;
}

/** files.jsp **/
.runResume{
	height: 30px;
}
.its_first_false{
	padding-top: 8px;
}

/* FOOTER on jquery-mapstore-footer.css*/
