<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
	    	http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/task      http://www.springframework.org/schema/task/spring-task-3.2.xsd"
       default-autowire="byName">
    
    <!-- For scheduled components -->   
    <task:annotation-driven />

    <!-- Ehcache configuration -->
    <import resource="classpath:/ehcache-applicationContext.xml" />

    <context:annotation-config />
      
    <!-- File upload service -->
    <bean id="fileUploadService" class="it.geosolutions.opensdi.service.impl.FileUploadServiceImpl">
      <property name="minInterval" value="1000000000"></property>
      <property name="maxSimultaneousUpload" value="100"></property>
      <!-- <property name="temporaryFolder" value="/tmp"></property> -->
    </bean>  
      
    <!-- GeoStore REST Client -->
    <bean id="geoStoreClient" class="it.geosolutions.geostore.services.rest.AdministratorGeoStoreClient">
      <property name="geostoreRestUrl" value="http://localhost/geostore"></property>
      <property name="username" value="admin"></property>
      <property name="password" value="admin"></property>
    </bean>  
    
    <!-- Geobatch configuration -->
    <bean id="geobatchClientConfiguration" class="it.geosolutions.opensdi.service.impl.GeoBatchClientConfigurationImpl">
        <property name="geobatchRestUrl" value="http://localhost/geobatch"/>
        <property name="geobatchUsername" value="admin"/>
        <property name="geobatchPassword" value="admin"/>
    </bean>
    <bean id="geoBatchRunInfoDAO" class="it.geosolutions.opensdi.dao.impl.GeoBatchRunInfoDAOGeoStoreImpl" />
    <bean id="geobatchClient" class="it.geosolutions.opensdi.service.impl.GeoBatchClientImpl" />
  
    <bean id="zip2pgOp" class="it.geosolutions.opensdi.operations.Zip2pgOperation">
        <property name="path" value="zip2pgOp"/>
    </bean>

    <bean id="GeoTiffOp" class="it.geosolutions.opensdi.operations.GeotiffPublishOperation">
        <property name="path" value="GeoTiffOp"/>
        <property name="flowID" value="geotiff_publish"/>
    </bean>

    <bean id="flowstatus" class="it.geosolutions.opensdi.operations.FlowStatusOperation">
        <property name="path" value="flowstatus"/>
    </bean>

    <bean id="OpEngine" class="it.geosolutions.opensdi.operations.OperationEngineController"/>
    
    <bean id="activeOpListOp" class="it.geosolutions.opensdi.operations.ActiveOperationsListOperation"/>
  
    <bean class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="order" value="10"/>
        <property name="locations">
            <list>
                <value>classpath*:opensdi-config-ovr.properties</value>
                <!-- used for externalized override -->
                <value>${opensdi-ovr}</value>    
                <!-- used for externalized override -->
                <value>file:///${OPENSDI_CONFIG_FILE}</value>    
            </list>
        </property>
    </bean>

</beans>